<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Sivakarthikeyan"></constructor-arg>
        <constructor-arg name="gender" value="Male"></constructor-arg>
        <constructor-arg name="age" value="36"></constructor-arg>
    </bean>


    <bean name="movie1, movie2" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actor"></constructor-arg>
    </bean>

    <bean id="Siva" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Sivakarthikeyan"></constructor-arg>
        <constructor-arg index="1" value="Male"></constructor-arg>
        <constructor-arg index="2" value="36"></constructor-arg>
    </bean>


    <bean id="SivaMovie" class="com.stackroute.domain.Movie">
        <constructor-arg index="0" ref="Siva"></constructor-arg>
    </bean>


    <bean id="SK" class="com.stackroute.domain.Actor">
        <constructor-arg type="java.lang.String" value="Sivakarthikeysn"></constructor-arg>
        <constructor-arg type="java.lang.String" value="Male"></constructor-arg>
        <constructor-arg type="int" value="36"></constructor-arg>
    </bean>

    <bean id="SKMovie" class="com.stackroute.domain.Movie">
        <constructor-arg type="com.stackroute.domain.Actor" ref="SK"></constructor-arg>
    </bean>

<!--    <bean id="vedhalam" class="com.stackroute.domain.Movie">-->
<!--        <property name="actor" ref="ajith"></property>-->
<!--    </bean>-->



</beans>
